* {
    font-family: 'Mulish', sans-serif;
    color: $web-black;
}

h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 400;
    font-family: Buda;
    a {
        font-size: 64px;
        line-height: 96px;
        font-weight: 400;
        font-family: Buda;
    }
    @media only screen and (max-width: 960px) {
        font-size: 32px;
        line-height: 48px;
    }
}

// h2 {
//     font-size: 48px;
//     font-weight: 600;
//     opacity: .6;
//     @media only screen and (max-width: 1800px) {
//         font-size: 40px;
//     }
//     @media only screen and (max-width: 960px) {
//         font-size: 24px;
//     }
// }

.heading-description {
    font-size: 48px;
    font-weight: 600;
    opacity: .6;
    line-height: 56px;
    @media only screen and (max-width: 1800px) {
        font-size: 40px;
    }
    @media only screen and (max-width: 960px) {
        font-size: 24px;
        line-height: 40px;
    }
}

h2 {
    font-size: 40px;
    font-weight: 400;
    font-family: Buda;
    @media only screen and (max-width: 1800px) {
        font-size: 38px;
    }
    @media only screen and (max-width: 960px) {
        font-size: 24px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    @media only screen and (max-width: 960px) {
        font-size: 20px;
    }
}

.creed-headline {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        @media only screen and (max-width: 960px) {
            font-size: 20px;
        }
}

.review-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    font-weight: 800;
    margin-bottom: 8px;
    @media only screen and (max-width: 960px) {
        font-size: 20px;
    }
}

h5 {
    font-size: 20px;
    font-weight: 600;
    @media only screen and (max-width: 1440px) {
        font-size: 16px;
    }
}

p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: .4px;
    color: rgba($color: $web-black, $alpha: .8);
    
    @media only screen and (max-width: 1440px) {
        font-size: 16px;
        line-height: 24px;
    }
    @media only screen and (max-width: 450px) {
        small {
            font-size: 10px;
            line-height: 8px !important;
        }
    }
}

.small {
    font-size: 14px;
    line-height: 24px !important;
    color: rgba($color: $web-black, $alpha: .64);
}

caption {
    font-size: 14px;
    letter-spacing: .2px;
    text-align: left;
    width: auto;
}

a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    @media only screen and (max-width: 1440px) {
        font-size: 16px;
    }
}

.case-study {
    text-transform: uppercase;
    font-weight: 700;
    opacity: .8;
    transition: .2s ease-in-out;
    position: relative;
    &:hover {
        opacity: 1;
        svg {
            margin-left: 12px !important;
        }
        .underline {
            width: 85%;
        }
    }
    .underline {
        position: absolute;
        height: 2px;
        bottom: -4px;
        width: 0%;
        background-color: $web-black;
        z-index: -1;
        // transform: scaleX(0);
        transition: .4s ease-in-out;
    }
}


#blue {
    color: $main-blue;
}

#orange {
    color: $shop-orange;
}

.bigger-contact {
    font-size: 24px;
    &:hover {
        color: $main-blue;
    }
    @media only screen and (max-width: 320px) {
        font-size: 16px;
    }
}

.internal-link {
    color: $main-blue;
    opacity: 1 !important;
    &:hover {
        color: darken($color: $main-blue, $amount: 10%);
    }
}